<div class="container">
    <div class="card">
        <div class="table-responsive">

            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Designation</th>
                        <th scope="col">City</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Remove</th>
                        <th scope="col">Edit</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of employees; index as i">
                        <td>{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.designation}}</td>
                        <td>{{data.city}}</td>
                        <td>{{data.salary}}</td>
                        <td class="btn btn-danger btn-small" (click)=remove(i)>Remove</td>
                        <td class="btn btn-primary btn-small mx-3" (click)=edit(data.id)>Edit</td>

                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>